.container_modal {
  width: 80%;
  margin: 0 auto;
}

.box_modal {
  position: relative;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  padding: 20px;
}

.box_modal p {
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
}

.box_modal .btn_okay {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 10px 10px 0;
  color: white;
  background-color: purple;
}

.container_modal h1 {
  padding: 10px;
  border-radius: 20px 20px 0 0;
  background-color: purple;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
